<p>
	<b>Texto:</b>
	<%= escolha.texto %>
</p>
<p>
	<b>Data:</b>
	<%= escolha.voto %>
</p>
<p>
	<%= link_to 'Remover Escolha', [escolha.questao, escolha],
		:confirm=>'Esta Seguro?', :method=>:delete %>
</p>
